spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ebanking?createDatabaseIfNotExist=true
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL}
    password: ${APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

data:
  redis:
    host: localhost
    port: 6379

server:
  port: 80

jwt:
  secret: wetrfxuDr45DRfxyfifrfcgDTfGYhX9LqP7mS2RABCDEF
